name: Run Gradle on Tags and Master
on:
  push:
    branches:
      - main
      - 'releases/**'
jobs:
  gradle:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Execute Gradle build
        run: gradle jar

      - name: Archive jar file
        uses: actions/upload-artifact@v6
        with:
          name: UltimateSpawn
          path: build/libs/UltimateSpawn.jar